<app-nav-bar></app-nav-bar>
<div class="account-container">
    <div class="sidebar">
        <img src="https://via.placeholder.com/80" alt="Perfil">
        <div class="button">Historial de compras</div>
    </div>
    <div class="content" *ngIf="client">
        <h2>MIS DATOS</h2>
        <div class="divider" ></div>
        <p>Email: {{client.email}}</p>
        <!-- <p>contraseña: {{}}</p> -->
        <a href="#" class="button">Cambiar contraseña</a>
        <p>Domicilio: {{client.address}}</p>
        <a href="#" class="button">Agregar domicilio</a>
        <button (click)="logout()" class="logout">Cerrar Sesion</button>
    </div>
</div>