.account-container {
    display: flex;
    border: 2px solid #fff;
    width: 600px;
    padding: 20px;
    background-color: #002b5c;
    font-family: "Arial";
    margin: auto;
}
.sidebar {
    width: 30%;
    text-align: center;
}
.sidebar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid #000;
}
.sidebar .button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.content {
    width: 70%;
    padding-left: 20px;
}
.content h2 {
    margin-top: 0;
    font-size: 20px;
    font-weight: normal;
    color: #ddd;
}
.content p {
    margin: 5px 0;
    color: #aaa;
}
.button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    border: 2px solid #fff;
    border-radius: 8px;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}
.content .divider {
    margin: 10px 0;
    border-top: 1px solid #fff;
}

.side-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 40px;
}

.logout {
    cursor: pointer;
    background-color: transparent;
    color: #fff;
    border: 1px solid #f00;
    padding: 5px;
    border-radius: 8px;
    margin-left: 20px;
}

.address {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 1fr;
}

.trash-btn{
    border-radius: 50%;
    background-color: transparent;
    padding: 5px;
    border: 1px solid #fff;
    margin: auto;
    cursor: pointer;
}