s<app-nav-bar></app-nav-bar>
<div class="account-container">
    <div class="content" *ngIf="client">
        <h2>MIS DATOS</h2>
        <div class="divider" ></div>
        <p>Nombre: {{client.name}}</p>
        <p>Apellido: {{client.lastname}} </p>
        <p>Email: {{client.email}}</p>
        <button class="button" routerLink="/edit">Editar mi perfil</button>
        <button routerLink="/change-password" class="button">Cambiar contraseña</button>
        <hr>
        <br>
        <div class="addresses">
        <h4>Domicilios:</h4>
        <ul>
        @for(address of clientAddresses; track address.id) {
            <li>
                <div class="address">
                    <div>
                        <p>Direccion: {{address.street}} {{address.number}} </p>
                        <p>Ciudad: {{address.city}} </p>
                        @if(address.floor){
                            <p>Piso: {{address.floor}}</p>
                        }
                        @if(address.apartment){
                            <p>Departamento: {{address.apartment}}</p>
                        }
                    </div>
                    <div>
                        <button class="trash-btn" (click)="deleteAddress(address.id!)">🗑️</button>
                    </div>
                </div>
            </li>
            <br>
        }
        </ul>
            <button routerLink="/add-address" class="button" [disabled]="limitAddresses">+</button>
        </div>
        
    </div>
    <div class="side-buttons">
        <button class="button" routerLink="/sales">Historial de compras</button>
        <button (click)="logout()" class="logout">Cerrar Sesion</button>
    </div>

</div>