<app-nav-bar></app-nav-bar>
<div class="account-container">
    <div class="sidebar">
        <div class="button">Historial de compras</div>
        <button (click)="logout()" class="logout">Cerrar Sesion</button>
    </div>
    <div class="content" *ngIf="client">
        <h2>MIS DATOS</h2>
        <div class="divider" ></div>
        <p>Email: {{client.email}}</p>
        <!-- <p>contraseña: {{}}</p> -->
        @for(address of clientAddresses; track address.id) {
            <div>
                <p>Domicilio {{$index + 1}}:</p>
                <p>Direccion: {{address.street}} {{address.number}} </p>
                <p>Ciudad: {{address.city}} </p>
                <p>Piso: {{address.floor}} - Departamento: {{address.apartment}}</p>
            </div>
            <br>
        }
        <button routerLink="/add-address" class="button">Agregar domicilio</button>
        <button class="button">Cambiar contraseña</button>
    </div>
</div>