<div>
    <h3>Selecciona si deseas retirar o que te lo enviemos</h3>
    <div class="delivery-options-container">
        <h2>ENTREGA</h2>
        
        <div class="option" (click)="selectOption(1)" [class.selected]="selectedOption === 1">
          <input type="radio" name="delivery" [checked]="selectedOption === 1" />
          <div class="details">
            <span>Retiro en sucursal</span>
            <p class="arrival">Remedios de Escalada 875. De 9:00 a 17:00</p>
          </div>
          <div class="price">Gratis!</div>
        </div>
      
        <div class="option" (click)="selectOption(2)" [class.selected]="selectedOption === 2">
          <input type="radio" name="delivery" [checked]="selectedOption === 2" />
          <div class="details">
            <span>Andreani Estandar “Envío a domicilio”</span>
            <p class="arrival">De 2 a 4 dias hábiles</p>
          </div>
          <div class="price">VALOR APROX CONSEGUIDO CON LA API</div>
        </div>
      </div>
</div>
<div class="order-summary-container">
  @for(product of detailedProducts; track product.id) {
    
    <div class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
      <div class="product-details">
        <span>{{ product.name }}</span>
        <span>{{ product.description }}</span>
        <span>x {{ product.quantity }}</span>
      </div>
      <div class="product-price">
        $ {{ product.price }}
      </div>
    </div>
  }
  
    <div class="summary">
      <div class="subtotal">
        <span>Subtotal</span>
        <span>$ {{ subtotal }}</span>
      </div>
      <div class="shipping-cost">
        <span>Costo de envío</span>
        <span>$ {{ shippingCost }}</span>
      </div>
      <div class="total">
        <span>Total</span>
        <span class="total-amount">$ {{ total }}</span>
      </div>
    </div>
  
  </div>
  
