section {
  display: grid;
  grid-template-columns: 2fr 1fr 0.1fr;
  font-family: "Noto Sans JP";
}

.delivery-options-container {
    padding-top: 30px;
    width: 66%;
    margin: 0 auto;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 20px;
    font-family: "Noto Sans JP";
  }
  
  .option {
    display: flex;
    align-items: center;
    border: 1px solid #000;
    padding: 15px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .option.selected {
    border: 2px solid #000;
  }
  
  input[type="radio"] {
    margin-right: 10px;
    pointer-events: none;
  }
  
  .details {
    flex-grow: 1;
    font-family: "Noto Sans JP";
  }
  
  .details span {
    font-weight: bold;
  }
  
  .arrival {
    font-size: 14px;
    color: #888;
  }
  
  .price {
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
  }
  
/* products */

  @media (width < 800px ) {
    section {
      grid-template-columns: 1fr;
    }
    .order-summary-container {
      width: 50%;
      margin: auto;
    }
    .delivery-options-container {
      width: 80%;
    }
  }

  .order-summary-container {
    border: 1px solid #002b5c;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-top: 30px;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
  }
  
  .product-details {
    flex-grow: 1;
    font-size: 14px;
  }
  
  .product-details span {
    display: block;
  }
  
  .product-price {
    font-weight: bold;
    white-space: nowrap;
  }
  
  .summary {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .subtotal, .shipping-cost, .total {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .total-amount {
    font-size: 18px;
    font-weight: bold;
  }

  /* Addresses */

  .address-card {
    display: flex;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 12px auto;
    background-color: #f9f9f9;
    max-width: 400px;
    transition: transform 0.2s;
  }
  
  .address-card:hover {
    transform: scale(1.02);
  }

  .address-content {
    display: flex;
    gap: 20px;
  }
  
  .address-header p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .address-body p {
    margin: 4px 0;
  }

  .selected-address {
    border: 1px solid #3688d4;
  }
    
  .add-btn {
    display: flex;
    justify-content: center;
  }
  .add-btn button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 15px;
    border: 2px solid #002b5c;
    border-radius: 8px;
    font-size: 14px;
    background-color: transparent;
    text-decoration: none;
    color: #002b5c;
    cursor: pointer;
  }

  .payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    margin: auto;
    margin-top: 15px;
    border-radius: 15px;
    padding: 15px;
    width: 300px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  }
  
  .payment-button {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top: 10px;
    font-size: 18px;
    background-color: #3688d4;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .payment-info {
    display: flex;
    align-items: center;
    margin-top: 5px;
  }
  
  .payment-text {
    margin: 0;
    font-size: 14px;
    color: gray;
  }
  
  .payment-logo {
    width: 40px; /* Ajusta el tamaño según lo necesario */
    margin-left: 5px;
  }
  
  