<section class="info">
    <picture>
        <!-- Entiendo que aca se podrian ir cambiando las imagenes -->
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </picture>
    <div class="description">
        <span>Pagos seguros mediante Mercado Pago</span>
        <span>La pagina es horrible porque el rafa programa</span>
        <span>Envios mediante Andreani</span>
        <img src="foto-info-lolo.jpg" class="lolo">
        <img src="HombreGym.jpg" alt="tipo musculoso" class="mainImage">
    </div>
</section>