.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.mainImage{
    width: 40%;
    height: auto;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 90%;
  margin: 30px auto;
  flex-wrap: nowrap;
}

.info-div {
  display: flex;
  align-items: center;
  padding: 12px;
}

.info-div span {
  font-family: 'Noto Sans JP';
  font-weight: 700;
  font-size: 1.2rem;
  padding: 8px;
  flex-grow: 1;
}

.info-div img{
  height: 4.2rem;
}

.middle-container {
  display: flex;
}

.bicep {
  border-radius: 50%;
  border: 1px solid #222;
}

.linea-vertical {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
  height: 110px;
  width: 2px;
  background-color: #002b5c;
}

.linea-horizontal {
  display: none;
}


@media screen and (max-width: 700px) {
  .linea-vertical { 
    display: none;
  }

  .info {
    flex-direction: column;
  }

  .info-div img{
    height: 3.2rem;
  }

  .info-div span {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .linea-horizontal {
    display: block;
  }
}