<section>
    <picture>
        <!-- Entiendo que aca se podrian ir cambiando las imagenes -->
        <img src="" alt="">
        <img src="" alt="">
        <img src="" alt="">
    </picture>
    <div class="description">
        

            <img src="HombreGym.jpg" alt="tipo musculoso" class="mainImage">
        
    </div>
    <div class="info">
        <div class="info-div">
            <div>
                <img src="logoMP.png" alt="" class="MP">
            </div>
            <span>Pagos seguros mediante Mercado Pago</span>
        </div>
        <hr class="linea-horizontal">
        <div class="middle-container">
            <div class="linea-vertical"></div>
            <div class="info-div middle">
                <div>
                    <img src="logoBI.png" alt="" class="bicep">
                </div>
                <span>Los mejores suplementos para tu entrenamiento</span>
            </div>
            <hr class="linea-horizontal">
            <div class="linea-vertical"></div>
        </div>
        <div class="info-div">
            <div>
                <img src="logoAN.png" alt="" class="AN">
            </div>
            <span>Envios mediante Andreani</span>
        </div>
    </div>
</section>