<footer>

    <div class="linea-horizontal">
        <div class="footer-container">
            <div class="sec1">
                <p>¿Por qué consumir suplementos?</p>
                <a href="">Respuesta aquí</a>
            </div>
            <div class="sec2">
                <p>Soy El Pulpo, entrenador personal apasionado por el fitness y
                    ahora también feliz de ofrecerte los mejores suplementos para potenciar tu rendimiento.
                    ¡Gracias por visitar mi tienda!</p>
            </div>
            <div class="sec3">
                <p class="navegacion">Navegación</p>
                <div class="footer-home">
                    <a href="/">Inicio</a>
                </div>
                <div class="footer-products">
                    <a href="/productos">Productos</a>
                </div>
                <div class="footer-about_us">
                    <a href="/sobre-nosotros">Sobre Nosotros</a>
                </div>
                <div class="footer-contact">
                    <a href="/contacto">Contacto</a>
                </div>
            </div>
            <div class="sec4">
                <p>Contactanos</p>
                <a href="https://wa.me/2235468853?text=Hola,%20quiero%20realizar%20una%20consulta.">Mensaje de
                    WhatsApp</a>
                <br>
                <a href="">SuplyMardel{{"@"}}gmail.com</a>
            </div>
        </div>
    </div>
    <p class="copy">© 2024 SuplyMardel S.A. - Todos los derechos reservados</p>
</footer>