<footer>

    <div class="linea-horizontal">
        <div class="footer-container">
            <div class="sec1">
                <p>¿Por qué consumir suplementos?</p>
                <a target="blank" href="https://mx.iherb.com/blog/protein-supplement-benefits/1003?gad_source=1&gclid=CjwKCAiA0rW6BhAcEiwAQH28IgXbCgVytMp7q3jcCQwO-EQXFQoqcqmZ7HuzEb98Szx3RWoZllMcbRoCBvAQAvD_BwE&gclsrc=aw.ds">Respuesta aquí</a>
            </div>
            <div class="linea-vertical"></div>
            <div class="sec2">
                <p class="texto-pulpo">Soy Nestor, entrenador personal apasionado por el fitness y
                    ahora también feliz de ofrecerte los mejores suplementos para potenciar tu rendimiento.
                    ¡Gracias por visitar mi tienda!</p>
            </div>
            <div class="linea-vertical"></div>
            <div class="sec3">
                <p class="navegacion">Navegación</p>
                <div class="footer-home">
                    <span><a routerLink="">Inicio</a></span>
                </div>
                <div class="footer-about_us">
                    <span><a routerLink="/about-us">Sobre Nosotros</a></span>
                </div>
                <div class="footer-contact">
                   <span><a routerLink="/contact">Contacto</a></span>
                </div>
            </div>
            <div class="sec4">
                <p>Contactanos</p>
                <a href="https://wa.me/2235468853?text=Hola,%20quiero%20realizar%20una%20consulta." target="_blank" class="whatsapp">
                    <span>WhatsApp</span>
                    <img src="https://cdn-icons-png.flaticon.com/128/3670/3670051.png" class="whatsapp-img">
                </a>
                <br>
                <a routerLink="/contact">SuplyMardel{{"@"}}gmail.com</a>
            </div>
        </div>
    </div>
    <p class="copy">© 2024 SuplyMardel S.A. - Todos los derechos reservados</p>
</footer>