<footer>
    <p>¿Por qué consumir suplementos?</p>
    <a href="">Respuesta aquí</a>
    <p>Soy , entrenador personal apasionado por el fitness y 
        ahora también feliz de ofrecerte los mejores suplementos para potenciar tu rendimiento. 
        ¡Gracias por visitar mi tienda!</p>
    <p>Contactanos</p>
        <a href="https://wa.me/2235468853?text=Hola,%20quiero%20realizar%20una%20consulta.">Mensaje de WhatsApp</a>
        <br>
        <a href="">SuplyMardel{{"@"}}gmail.com</a>
    <p>© 2024 SuplyMardel S.A. - Todos los derechos reservados</p>
</footer>