<div class="card">
    
    <img [src]="producto.image" alt="{{ producto.name }}" class="card-img-top" />
  
    <div class="card-body">
      <h5 class="card-title">{{ producto.name }}</h5>
      <p class="card-brand"><strong>Marca:</strong> {{ producto.brand }}</p>
      <p class="card-price"><strong>Precio:</strong> ${{ producto.price }}</p>
      <p class="card-stock"><strong>Stock:</strong> {{ producto.stock }} unidades</p>
      <p class="card-weight"><strong>Peso: </strong>{{ producto.weight }}</p>
  
      <div class="card-actions">
        <button [routerLink]="['/admin/edit-product/', producto.id]" class="btn btn-primary">Editar</button>
        <button (click)="onDelete()" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
  
