
<div class="newp-container">

    <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="actualPassword">Contraseña actual:</label>
            <input type="password" id="actualPassword" formControlName="actualPassword" required>
            @if (passwordForm.controls['actualPassword'].touched && passwordForm.controls['actualPassword'].getError('required')) {
                <span>El campo es requerido</span>
            }
        @if(IncorrectPassword){
            <span>Contraseña incorrecta</span>
        }
      </div>

    <div>
        <label for="newPassword">Nueva contraseña:</label>
        <input type="password" id="newPassword" formControlName="newPassword" required>
        @if (passwordForm.controls['newPassword'].touched && passwordForm.controls['newPassword'].getError('required')) {
            <span>El campo es requerido</span>
        }
        @if (passwordForm.controls['newPassword'].touched && passwordForm.controls['newPassword'].getError('minLength')) {
            <span>La contraseña debe tener al menos 8 caracteres</span>
        }
        @if (OldPasswordRepeated) {
            <span>La nueva contraseña no puede ser igual a la anterior</span>
        }
      </div>

      <div>
        <label for="repeatNewPassword">Repetir contraseña</label>
        <input type="password" id="repeatNewPassword" formControlName="repeatNewPassword" required>
        @if (passwordForm.controls['repeatNewPassword'].touched && passwordForm.controls['repeatNewPassword'].getError('required')) {
            <span>El campo es requerido</span>
            }
            @if (NotSamePassword) {
                <span>Las contraseñas no son iguales</span>
            }
        </div>
        
        <button type="submit" [disabled]="passwordForm.invalid">Cambiar contraseña</button>
    </form>
</div>