<app-nav-bar></app-nav-bar>
<div class="contact-container">
    <div class="s1">

        <h3>Escríbenos</h3>
        <div class="card">
            <div class="card-interior">
                <form>
                    <label for="email">Mail</label>
                    <input id="email" type="email" placeholder="Escribe tu correo" required />

                    <label for="motivo">Motivo</label>
                    <input id="motivo" type="text" placeholder="Escribe el motivo" required />

                    <label for="mensaje">Mensaje</label>
                    <textarea id="mensaje" placeholder="Escribe tu mensaje" required></textarea>
                    <button class="submit-button" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
    <img src="ImagenContacto.png" alt="ImagenContacto" class="imgContacto">
</div>