<app-nav-bar></app-nav-bar>
<div class="contact-container">
    <div class="s1">

        <h3>Escríbenos</h3>
        <div class="card">
            <div class="card-interior">
                <form [formGroup]="form" (ngSubmit)="sendMail()">
                    <label for="email">Email *</label>
                    <input id="email" type="text" placeholder="Escribe tu mail" formControlName="userEmail" required />
                    <span [ngClass]="{'error': form.controls['userEmail'].touched && form.controls['userEmail'].getError('required'),
                                       'email-error': (form.controls['userEmail'].touched && form.controls['userEmail'].getError('email')) || form.controls['userEmail'].touched && !form.controls['userEmail'].getError('required')}" 
                    >El campo es requerido</span>

                    <span [ngClass]="{'error': form.controls['userEmail'].touched && form.controls['userEmail'].getError('email'), 
                                        'email-error': (form.controls['userEmail'].touched && form.controls['userEmail'].getError('required')) || !form.controls['userEmail'].touched}" 
                    >Lo que escribiste no es un mail taradito</span>
                    
                    
                    <label for="motivo">Motivo *</label>
                    <input id="motivo" type="text" placeholder="Escribe el motivo" formControlName="subject" required />
                    <span [ngClass]="{'error': form.controls['subject'].touched && form.controls['subject'].getError('required')}">El campo es requerido</span>
                    
                    <label for="mensaje">Mensaje *</label>
                    <textarea id="mensaje" placeholder="Escribe tu mensaje" formControlName="message" required></textarea>
                    <span [ngClass]="{'error': form.controls['message'].touched && form.controls['message'].getError('required')}">El campo es requerido</span>
                    
                    <button class="submit-button" [disabled]="form.invalid" type="submit">ENVIAR</button>
                </form>
            </div>
        </div>
    </div>
    <img src="ImagenContacto.png" alt="ImagenContacto" class="imgContacto">
</div>