section {
    display: flex;
    font-family: "Noto Sans JP";

}
.sales {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.title {
    max-width: 800px;
    margin: auto;
}

h3 {
    margin: 20px 30px;
}

p {
    margin: 0 30px;

}
