section {
    display: flex;
    font-family: "Noto Sans JP";
}

.client {
    width: 100%;
}

.sales {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
    margin: auto;
}

.title {
    max-width: 800px;
    margin: auto;
}

h3 {
    margin: 20px 30px;
}

p {
    text-align: center;
}
