<div class="card">
    <div class="card-body">
        <p class="card-id"><strong>ID: </strong>{{ sale.id }}</p>
        <p class="card-date"><strong>Fecha: </strong>{{ sale.date }}</p>
        <p class="card-name"><strong>Nombre: </strong>{{ productsName }}</p>
        <p class="card-amount"><strong>Total:</strong> {{ sale.amount }}</p>
        <p class="card-address"><strong>Domicilio:</strong> {{sale.shippingAdress }}</p>
    </div>
    <div>
        <a routerLink="/c/sale-details/{{sale.id}}">Detalles</a>
    </div>
</div>