@if(isAdmin) {
    <app-menu />
}
<section>
    @if (sale){
    <div>
        <div class="sale-details"  [class.cancelled]="sale.isCancelled">

            <h2>Detalles de la Venta</h2>
            <p><strong>ID de la Venta:</strong> {{ sale.id }}</p>
            <p><strong>Fecha:</strong> {{ sale.date }}</p>
            <p><strong>Método:</strong> {{ sale.shipmentMethod }}</p>
            <p><strong>Total:</strong> ${{ sale.amount }}</p>
            @if(sale.shippingAddressId){
                <p class="card-address"><strong>Domicilio:</strong> {{address!.street}} {{address!.number}}, <strong>CP:</strong> {{address?.postalCode}}</p>
            }
            @else{
                <p><strong>Nuestra sucursal:</strong> Remedios de Escalada 875 (Abierto de 9:00 a 17:00)</p>
            }
            @if(sale.isCancelled){
            <p class="cancel">CANCELADA</p>
            }
        </div>

        @if(sale.shipmentMethod === 'Andreani' && !sale.isCancelled){
        <div class="tracking-module">
            <div class="header">
                <div>
                    <h2>Envío mediante Andreani</h2>
                    <span class="info-span">Consultá el estado del envío copiando el número de seguimiento y consultando la Web de Andreani</span>    
                </div>
                <div class="andreani-redirect">
                    <span>{{sale.shippingNumber ?? 'Pendiente' }}
                        @if(isAdmin) {
                            <i class="edit-icon" (click)="openEditModal()">✏️</i>
                        }
                        @else {
                            @if(sale.shippingNumber !== 'Pendiente') {
                                @if(isCopied) {
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="check" viewBox="0 0 16 16">
                                        <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0"/>
                                      </svg>
                                }
                                @else {
                                    <button (click)="copyShippingNumber()" class="copy-button" title="Copiar código">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M4 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2zm2-1a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 5a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-1h1v1a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h1v1z"/>
                                        </svg>
                                    </button>
                                }
                            }
                        }
                    </span>
                    <a class="andreani-btn" href="https://www.andreani.com" target="_blank">Ir a Andreani <img src="andreani-icon.png"></a>
                </div>
            </div>
        </div>
        }
        <div class="products-section">

            <h3>Productos en esta Venta</h3>
            <ul>
                @for (product of saleProducts; track product.id) {
                <li>
                    <p><strong>Nombre:</strong> {{ product.name }}</p>
                    <p><strong>Precio:</strong> ${{ product.price }}</p>
                    <p><strong>Cantidad:</strong>
                        {{ product.quantity }}
                    </p>
                    <hr />
                </li>
                }
            </ul>
            @if(!sale.isCancelled) {
                <div class="btns-div">
                    <button (click)="generatePDF()" class="generate-btn">Generar Comprobante</button>
                    @if(isAdmin ) {
                        <button (click)="openConfirmationModal(sale.id) " class="cancel-btn">Cancelar Compra</button>
                    }
                </div>
            }
        </div>
    </div>
    }
    @else {
    <span>Venta no encontrada. :{{'('}}</span>
    }
</section>

@if (showModal) {
<div class="modal">
    <div class="modal-content">
        @if((sale.shipmentStatus === "A retirar" || sale.shipmentStatus === "Pendiente de ingreso")) {
            <p class="modal-p">¿Estás seguro de que quieres cancelar esta venta?</p>
            <div class="buttons">
                <button class="btn-confirm" (click)="confirmCancel()">Sí</button>
                <button class="btn-cancel" (click)="cancelCancel()">No</button>
            </div>
        }
        @else {
            <p>No es posible cancelar la venta porque el pedido ya fue ingresado.</p>
            <button class="btn-cancel" (click)="cancelCancel()">Cerrar</button>
        }
        
    </div>
</div>
}

<!-- Modal -->
 @if(showModalE) {
 
<div class="modal" >
    <div class="modal-content">
      <h3>Actualizar Envío</h3>
      <form (submit)="updateShipment()">
        <label for="trackingNumber">Número de seguimiento:</label>
        <input
          id="trackingNumber"
          type="text"
          [(ngModel)]="newShippingNumber"
          name="trackingNumber"
        />
  
        <button type="submit">Aceptar</button>
        <button type="button" (click)="closeEditModal()">Cancelar</button>
      </form>
    </div>
  </div>
}
