:host {
    font-family: "Noto Sans JP";
    color: #002b5c;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para detalles de venta */
.sale-details {
    background-color: #002b5c;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.sale-details h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.sale-details p {
    font-size: 18px;
    line-height: 1.5;
}

/* Estilos para la sección de productos */
.products-section {
    padding: 20px;
    border: 2px solid #002b5c;
    border-radius: 8px;
}

.products-section h3 {
    font-size: 20px;
    color: #002b5c;
    margin-top: 0;
    border-bottom: 2px solid #002b5c;
    padding-bottom: 10px;
}

.products-section ul {
    list-style-type: none;
    padding: 0;
}

.products-section li {
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.products-section li:last-child {
    border-bottom: none;
}

.products-section p {
    font-size: 16px;
    color: #002b5c;
    margin: 5px 0;
}

.products-section strong {
    font-weight: bold;
    color: #002b5c;
}

hr {
    border: none;
    height: 1px;
    background-color: #002b5c;
    margin: 10px 0;
}

/* Estilos para el mensaje de error */
span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #dc3545; /* color de alerta */
    margin-top: 20px;
}

.cancel-container{
    display: flex;
    justify-content: flex-end;
}
.cancel-btn{
    background-color: #ae1919;
    border-radius: 5px;
    padding: 5px;
    color: #fff;
    border: none;
    cursor: pointer;
}

/*modal style*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .btn-confirm,
  .btn-cancel {
    background-color: #002b5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-cancel:hover {
    background-color: #3688d4; /* Un azul más claro para el hover */
  }
  
  
  .btn-confirm:hover {
    background-color: #ae1919; /* Un azul más claro para el hover */
  }