:host {
     display: flex;
}

section {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Noto Sans JP";
    color: #002b5c;
}

/* Estilos para detalles de venta */
.sale-details {
    background-color: #002b5c;
    color: white;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.cancelled {
  background-color: #ae1919;
}

.sale-details h2 {
    margin-top: 0;
    font-size: 24px;
    font-weight: bold;
}

.sale-details p {
    font-size: 18px;
    line-height: 1.5;
}

.info-span {
  font-size: 15px;
  text-align: left;
}

.check {
  vertical-align: middle;
}

.copy-button{
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.andreani-redirect {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 70%;
}

.andreani-btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

.andreani-btn img{
  -webkit-filter: grayscale(1) invert(100%);
  filter: grayscale(1) invert(100%);
  height: 2rem;  
}

/* Estilos para la sección de productos */
.products-section {
    padding: 20px;
    border: 2px solid #002b5c;
    border-radius: 8px;
}

.products-section h3 {
    font-size: 20px;
    color: #002b5c;
    margin-top: 0;
    border-bottom: 2px solid #002b5c;
    padding-bottom: 10px;
}

.products-section ul {
    list-style-type: none;
    padding: 0;
}

.products-section li {
    border-bottom: 1px solid #ddd;
}

.products-section li:last-child {
    border-bottom: none;
}

.products-section p {
    font-size: 16px;
    color: #002b5c;
    margin: 5px 0;
}

.products-section strong {
    font-weight: bold;
    color: #002b5c;
}

hr {
    border: none;
    height: 1px;
    background-color: #002b5c;
    /* margin: 10px 0; */
}

/* Estilos para el mensaje de error */
span {
    display: block;
    text-align: center;
    font-size: 18px;
    color: #dc3545; /* color de alerta */
    margin-top: 20px;
}

.btns-div{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.generate-btn {
  font-family: "Noto Sans JP";
  background-color: #002b5c;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cancel-btn{
  font-family: "Noto Sans JP";
  background-color: #ae1919;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/*modal style*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Sans JP";
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
  }
  
  .modal p {
    color: #333;
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
  }
  
  .btn-confirm,
  .btn-cancel {
    background-color: #002b5c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-cancel:hover {
    background-color: #3688d4; /* Un azul más claro para el hover */
  }
  
  
  .btn-confirm:hover {
    background-color: #ae1919; /* Un azul más claro para el hover */
  }

  /* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .tracking-module {
    max-width: auto;
    margin: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background: #f9f9f9;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h2 {
    font-size: 18px;
    color: #333;
  }
  
  .header span {
    font-weight: bold;
  }
  
  .andreani-btn {
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #d32f2f;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .andreani-btn:hover {
    background-color: #b71c1c;
  }
  
  .status h1 {
    font-size: 24px;
    color: #388e3c;
    margin: 0;
  }
  
  .status p {
    font-size: 16px;
    color: #666;
  }
  
  .timeline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  
  .step {
    text-align: center;
    flex: 1;
  }
  
  .step:not(:last-child) {
    position: relative;
  }
  
  .step:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(100% - 40px);
    height: 4px;
    background: #4caf50;
    transform: translateY(-50%);
    z-index: -1;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    margin: 0 auto 10px;
    border-radius: 50%;
    background: #4caf50;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
  }

  .step:not(.completed) .circle {
    background-color: #ae1919;
  }
  
  .step.completed .circle {
    background: #4caf50;
  }
  
  .step p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }
  
  .step span {
    font-size: 12px;
    color: #999;
  }
  
  /*Modal EDIT */

  .edit-icon {
    cursor: pointer;
    margin-left: 10px;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modal-content h3 {
    margin-top: 0;
  }
  
  .modal-content label {
    display: block;
    margin: 10px 0 5px;
  }
  
  .modal-content input,
  .modal-content select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  
  .modal-content button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #0056b3;
  }
  
  .modal-content button:last-child {
    background-color: #ccc;
  }
  
  .modal-content button:last-child:hover {
    background-color: #999;
  }
  