<div class="img-container">
    <body>
        <div class="container">
            <div class="header">
                <h1>Compra Exitosa</h1>
            </div>
            <div class="info">
                <label>ID de compra:</label>
                <span>{{ this.merchantOrderId }}</span>
            </div>
          
            <div class="info">
                <label>Fecha de compra:</label>
                <span>{{formattedDate}}</span>
            </div>
            @if(shipmentMethod) {
              <div class="info">
                  <label>Estado de envío:</label>
                  <span>{{shipmentStatus}}</span>
              </div>
              <div class="info">
                  <label>Método de envío:</label>
                  <span>{{shipmentMethod}}</span>
              </div>
                <div class="info">
                <label>Dirección de envío:</label>
                <span>{{shippingAddress?.street}} {{shippingAddress?.number}}</span>
              </div>
              }
            <div class="info">
                <label>Estado de pago:</label>
                <div class="status approved">Aprobado</div>
            </div>
            <div class="info">
                <label>ID de la orden del comerciante:</label>
                <span>MO123456</span>
            </div>
            <div class="info">
                <label>Cancelado:</label>
                <span>No</span>
            </div>
        </div>

        <div class="order-summary-container">
            @for(product of products; track product.id) {
        
            <div class="product-card">
              <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
              <div class="product-details">
                <span>{{ product.name }}</span>
                <span>{{ product.description }}</span>
                <span>x </span>
              </div>
              <div class="product-price">
                $ {{ product.price }}
              </div>
            </div>
            }
        
            <div class="summary">
              <div class="subtotal">
                <span>Subtotal</span>
                <span>$ {{ subtotal }}</span>
              </div>
              <div class="shipping-cost">
                <span>Costo de envío</span>
                <span>$ {{ shippingCost }}</span>
              </div>
              <div class="total">
                <span>Total</span>
                <span class="total-amount">$ {{ total }}</span>
              </div>
            </div>
          </div>

