body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}
.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.header h1 {
    color: #4CAF50;
}
.info {
    margin-bottom: 10px;
}
.info label {
    font-weight: bold;
}
.info span {
    display: block;
    margin-top: 5px;
}
.status {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
}
.approved {
    background-color: #d4edda;
    color: #155724;
}
.rejected {
    background-color: #f8d7da;
    color: #721c24;
}
.cancelled {
    background-color: #f1c40f;
    color: #fff;
}

/*products*/

@media (width < 800px ) {
    section {
      grid-template-columns: 1fr;
    }
    .order-summary-container {
      display: none;
    }
    .delivery-options-container {
      width: 80%;
    }
  }

  .order-summary-container {
    border: 1px solid #002b5c;
    font-family: Arial, sans-serif;
    padding: 10px;
    margin-top: 30px;
  }
  
  .product-card {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: contain;
  }
  
  .product-details {
    flex-grow: 1;
    font-size: 14px;
  }
  
  .product-details span {
    display: block;
  }
  
  .product-price {
    font-weight: bold;
    white-space: nowrap;
  }
  
  .summary {
    border-top: 1px solid #ddd;
    padding-top: 10px;
  }
  
  .subtotal, .shipping-cost, .total {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }
  
  .total-amount {
    font-size: 18px;
    font-weight: bold;
  }