<aside>
    <div>
        <h3>Productos</h3>
        <ul>
            <li><a routerLink="/admin">Ver Productos</a></li>
            <li><a routerLink="/admin/create-product">Crear Producto</a></li>
        </ul>
    </div>
    <div>
        <h3>Clientes</h3>
        <ul>
            <li><a routerLink="/admin/clients">Ver Clientes</a></li>
        </ul>
    </div>
    <div>
        <h3>Ventas</h3>
        <ul>
            <li><a routerLink="/sales">Ver Ventas</a></li>
        </ul>
    </div>
    <div>
        <button (click)="logout()" class="logout">Cerrar Sesion</button>
    </div>
</aside>
