<div>
    <h3>Algo salió mal :{{'('}}</h3>
    <p>Ocurrió un error en el proceso del pago. Por favor inténtelo nuevamente en unos minutos.</p>
    <a class="home" href="">Ir al inicio</a>
</div>
<div>
    <p>Si el error persiste contáctese con nosotros.</p>
    <a href="https://wa.me/2235468853?text=Hola,%20quiero%20realizar%20una%20consulta." target="_blank" class="whatsapp">
        <span>WhatsApp</span>
        <img src="https://cdn-icons-png.flaticon.com/128/3670/3670051.png" class="whatsapp-img">
    </a>
    <a routerLink="/contact" class="contact">
        <span>Contacto vía email</span>
        <img src="https://cdn-icons-png.flaticon.com/128/732/732200.png">
    </a>
</div>
