<app-nav-bar></app-nav-bar>
<div class="login-container">

    <div class="card">
        <h3>Inicio de sesión</h3>
        <div class="form-card">
            <form (ngSubmit)="login()">
                <label>Mail</label>
                <input type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
                <input type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
                <button class="login-button" type="submit">Iniciar sesión</button>
            </form>
            <a class="password-recovery" routerLink="/password-recovery">Olvidaste tu contraseña?</a>
        </div>
        <div class="div-register">
            <label>¿No tienes cuenta?</label>
            <a routerLink="/register">Regístrate Aquí</a>
        </div>
    </div>
</div>