section {
    display: flex;
    width: 100%;
}

.card {
    background-color: #f0f8ff; /* Azul claro */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 128, 0.2);
    width: 100%;
    max-width: 600px;
    margin: auto;
}
.bloque {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.bloque-imagen input{
    width: 90%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: #003366; /* Azul oscuro */
    font-weight: bold;
}

input, select, button {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #003366;
    font-size: 14px;
}

select {
    width: 192px;
}

input:focus, select:focus {
    outline: none;
    border-color: #0073e6; /* Azul vibrante */
    box-shadow: 0 0 5px rgba(0, 115, 230, 0.5);
}

button {
    background-color: #0073e6;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

a{
    padding: 5px;
}

.error {
    color: #e60000; /* Rojo */
    font-size: 14px; /* Tamaño de letra pequeño */
    margin-top: 5px;
}
