@if(products.length === 0){
<div>
    <div>
        <h3>Su carrito se encuentra vacio: </h3>
    </div>
    <div>
        <a routerLink="/productos">Agregar productos click aquí</a>
    </div>
</div>
}
@else{
<h3>Usted esta comprando: </h3>
@for(product of products; track product.id){
<div class="cart-item">
    <img src="{{product.image}}" alt="{{product.name}}" class="product-image">

    <div class="product-details">
        <h4>{{product.name}}</h4>
        <div class="product-actions">
            <a class="action-link" (click)="deleteProduct($index)">Eliminar</a>
            <a href="#" class="action-link">Comprar ahora</a>
        </div>
    </div>
    <div class="product-stock">
        <span>stock: {{product.stock.toLocaleString()}}</span>
    </div>
    <div class="quantity-control">
        <button class="quantity-btn" (click)="decrementQuantity($index)">-</button>
        <input type="number" class="quantity-input" 
            value="{{rawCartproducts[$index].quantity || 1}}" 
            min="1" max="{{product.stock}}"
            (change)="updateQuantity($index, $any($event).target.value, product)">
        <button class="quantity-btn" (click)="incrementQuantity($index, product)">+</button>
    </div>
    <div class="product-price">
        <span>${{product.price.toLocaleString('es', {maximumFractionDigits: 20})}}</span>
    </div>
    </div>
}
<div class="total">
    <p class="total-price">Total de la compra: ${{total}}</p>
    <button (click)="goToCheckout()">Continuar compra</button> 
</div>

}