<app-nav-bar></app-nav-bar>
<section>
    <div class="h3-div">
        <h3>Sobre Nosotros</h3>
    </div>
    <div class="about_us-div">
        <div class="img-div">
            <img src="tienda-suplementos.jpg" alt="Tienda de Suplementos"> 
        </div>
        <p>
            En SuplyMardel, nos apasiona impulsar tu rendimiento y ayudarte a alcanzar tus metas deportivas. Desde nuestra base en Mar del Plata, ofrecemos una selección de suplementos de alta calidad que satisfacen las necesidades de atletas, deportistas y entusiastas del fitness en todo el país. 
       </p>
    </div>
    <div class="about_us-div">
        <p>
            Nuestro compromiso es brindarte productos confiables, efectivos y de marcas reconocidas para que puedas dar lo mejor de ti en cada entrenamiento.
        </p>
        <div class="img-div">
            <img src="persona-corriendo.jpg" alt="Persona Corriendo"> 
        </div>
    </div>
    <div class="about_us-div">
        <div class="img-div">
            <img src="camioneta-andreani.jpg" alt="Camioneta de Andreani"> 
        </div>
        <p>
            Sabemos que el camino hacia un mejor rendimiento requiere tanto esfuerzo como dedicación, por eso estamos aquí para apoyarte con envíos rápidos a toda Argentina y un equipo dispuesto a ayudarte a encontrar el suplemento perfecto para tus objetivos.
        </p>
    </div>
   
    
</section>
