<form [formGroup]="formulario" (ngSubmit)="addAddress()">
    <div>
        <label>Calle *</label>
        <input type="text" formControlName="street">
        @if(formulario.controls['street'].getError('required') && formulario.controls['street'].touched) {
            <span class="error">Campo Requerido</span>
        }
        @if(formulario.controls['street'].getError('minlength') && formulario.controls['street'].touched){
            <span class="error">Introduzca minimo 3 letras</span>
        }
    </div>
    <div>
        <label>Altura *</label>
        <input type="number" formControlName="number" min="0">
        @if(formulario.controls['number'].getError('required') && formulario.controls['number'].touched) {
            <span class="error">Campo Requerido</span>
        }
        @if(formulario.controls['number'].getError('min') && formulario.controls['number'].touched) {
            <span class="error">El numero no puede ser cero o negativo</span>
        }
    </div>
    <div>
        <label>Código Postal *</label>
        <input type="number" formControlName="postalCode" min="0">
        @if(formulario.controls['postalCode'].getError('required') && formulario.controls['postalCode'].touched) {
            <span class="error">Campo Requerido</span>
        }
        @if(formulario.controls['postalCode'].getError('min') && formulario.controls['postalCode'].touched) {
            <span class="error">El codigo postal no puede ser cero o negativo</span>
        }
    </div>
    <div>
        <label>Ciudad *</label>
        <input type="text" formControlName="city">
        @if(formulario.controls['city'].getError('required') && formulario.controls['city'].touched) {
            <span class="error">Campo Requerido</span>
        }
        @if(formulario.controls['city'].getError('minlength') && formulario.controls['city'].touched) {
            <span class="error">Introduzca minimo 3 letras</span>
        }
    </div>
    <div>
        <label>Piso</label>
        <input type="text" formControlName="floor">
    </div>
    <div>
        <label>Departamento</label>
        <input type="text" formControlName="apartment">
    </div>
    <button type="submit">Agregar</button>

</form>