<section>
@if(!isSubmit) {
    <form [formGroup]="formEmail" (ngSubmit)="onSubmit()">
        <label>Email</label>
        <input type="text" formControlName="email">
        @if(formEmail.controls['email'].getError('required') && formEmail.controls['email'].touched){
            <span class="error">El campo es requerido</span>
        }
        @if(formEmail.controls['email'].getError('minlength') && formEmail.controls['email'].touched){
            <span class="error">Ingrese minimo 12 caracteres</span>
        }
        @if(clientNotExistsError) {
            <span class="error">No se encontro ese usuario en el sistema</span>
        }
        <button>Enviar</button>
    </form>
}
@else {
    <form [formGroup]="formRecovery" (ngSubmit)="onChange()"> 
        <div>
            <label>Ingrese el código que recibio</label>
            <input type="text" formControlName="code">
            @if(formRecovery.controls['code'].getError('required') && formRecovery.controls['code'].touched) {
                <span class="error">El campo es requerido</span>
            }@if(formRecovery.controls['code'].value !== randomCode && formRecovery.controls['code'].touched) {
                <span class="error">El código es incorrecto</span>
            }
            @if(formRecovery.controls['code'].getError('minlength') && formRecovery.controls['code'].touched) {
                <span class="error">Ingrese minimo 8 letras</span>
            }
        </div>
        <div>
            <label>Contraseña nueva</label>
            <input type="password" formControlName="newPassword">
            @if(formRecovery.controls['newPassword'].getError('required') && formRecovery.controls['newPassword'].touched) {
                <span class="error">El campo es requerido</span>
            }
            @if(formRecovery.controls['newPassword'].getError('minlength') && formRecovery.controls['newPassword'].touched) {
                <span class="error">Ingrese minimo 8 letras</span>
            }
        </div>
        <div>
            <label>Repita Contraseña nueva</label>
            <input type="password" formControlName="repeatNewPassword">
            @if(formRecovery.controls['repeatNewPassword'].getError('required') && formRecovery.controls['repeatNewPassword'].touched) {
                <span class="error">El campo es requerido</span>
            }
            @if(formRecovery.controls['repeatNewPassword'].getError('minlength') && formRecovery.controls['repeatNewPassword'].touched) {
                <span class="error">Ingrese minimo 8 letras</span>
            }
            
            @if((formRecovery.controls['repeatNewPassword'].value !== formRecovery.controls['newPassword'].value) && formRecovery.controls['repeatNewPassword'].touched) {
                <span class="error">La contraseña debe coincidir</span>
            }
        </div>
        <button type="submit">Cambiar</button>
    </form>
}
</section>