<div class="container">
  <form [formGroup]="formRecovery" (ngSubmit)="onChange()">
    <div>
      <label>Contraseña actual</label>
      <input type="password" formControlName="password" />
      @if(formRecovery.controls['password'].getError('required') &&
      formRecovery.controls['password'].touched) {
      <span class="error">El campo es requerido</span>
      } @if(formRecovery.controls['password'].getError('minlength') &&
      formRecovery.controls['password'].touched) {
      <span class="error">Ingrese minimo 8 letras</span>
      }
    </div>
    <div>
      <label>Contraseña nueva</label>
      <input type="password" formControlName="newPassword" />
      @if(formRecovery.controls['newPassword'].getError('required') &&
      formRecovery.controls['newPassword'].touched) {
      <span class="error">El campo es requerido</span>
      } @if(formRecovery.controls['newPassword'].getError('minlength') &&
      formRecovery.controls['newPassword'].touched) {
      <span class="error">Ingrese minimo 8 letras</span>
      }
    </div>
    <div>
      <label>Repita Contraseña nueva</label>
      <input type="password" formControlName="repeatNewPassword" />
      @if(formRecovery.controls['repeatNewPassword'].getError('required') &&
      formRecovery.controls['repeatNewPassword'].touched) {
      <span class="error">El campo es requerido</span>
      } @if(formRecovery.controls['repeatNewPassword'].getError('minlength') &&
      formRecovery.controls['repeatNewPassword'].touched) {
      <span class="error">Ingrese minimo 8 letras</span>
      } @if((formRecovery.controls['repeatNewPassword'].value !==
      formRecovery.controls['newPassword'].value) &&
      formRecovery.controls['repeatNewPassword'].touched) {
      <span class="error">La contraseña debe coincidir</span>
      }
    </div>
    <button type="submit">Cambiar</button>
  </form>
</div>
