<div class="newp-container">

  <form [formGroup]="formRecovery" (ngSubmit)="onChange()">
      <div>
          <label for="actualPassword">Contraseña actual:</label>
          <br>
          <input type="password" id="actualPassword" formControlName="actualPassword" required>
          @if (formRecovery.controls['actualPassword'].touched && formRecovery.controls['actualPassword'].getError('required')) {
              <span>El campo es requerido</span>
          }
      @if(IncorrectPassword){
          <span>Contraseña incorrecta</span>
      }
    </div>
    <hr>
  <div>
      <label for="newPassword">Nueva contraseña:</label>
      <br>
      <input type="password" id="newPassword" formControlName="newPassword" required>
      @if (formRecovery.controls['newPassword'].touched && formRecovery.controls['newPassword'].getError('required')) {
          <span>El campo es requerido</span>
      }
      @if (formRecovery.controls['newPassword'].touched && formRecovery.controls['newPassword'].getError('minlength')) {
          <span>La contraseña debe tener al menos 8 caracteres</span>
      }
      @if (OldPasswordRepeated) {
          <span>La nueva contraseña no puede ser igual a la anterior</span>
      }
    </div>

    <div>
      <label for="repeatNewPassword">Repetir contraseña:</label>
      <br>
      <input type="password" id="repeatNewPassword" formControlName="repeatNewPassword" required>
      @if (formRecovery.controls['repeatNewPassword'].touched && formRecovery.controls['repeatNewPassword'].getError('required')) {
          <span>El campo es requerido</span>
          }
          
          @if (formRecovery.controls['repeatNewPassword'].value !== formRecovery.controls['newPassword'].value && formRecovery.controls['repeatNewPassword'].touched) {
            <span>Las contraseñas no son iguales</span>
        }
      </div>
      
      <button type="submit" [disabled]="formRecovery.invalid">Cambiar contraseña</button>
  </form>
</div>