<app-nav-bar></app-nav-bar>
<div class="login-container"></div>
<div class="card">
    <h3>Inicio de sesión</h3>
    <div class="form-card">
        <form action="">
            <label>Mail</label>
            <input type="email" required />
            <label>Contraseña</label>
            <input type="password" required />
            <button class="login-button" type="submit">Iniciar sesión</button>
        </form>
    </div>
    <div class="div-register">
        <label>¿No tienes cuenta?</label>
        <a routerLink="/register">Regístrate Aquí</a>
    </div>
</div>